@{   ViewBag.Title = "HealthCare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Banner starts here-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="~/Background/bg-img4.png" class="d-block w-100 img-fluid" alt="...">

            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text text-black-50">Find Doctor's Best For You</h1>
                    <p class="text text-black-50">Make an appointment much easier</p>
                    <a href="/Home/ListofDoctors" class="btn btn-primary btn-lg btn-block"><i class="fas fa-search mx-4">    Find Doctors</i></a> 
                </div>
            </div>

        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="~/Background/741765.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="~/Background/close-up-doctor-front-bright-background_53419-4416.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Banner ends here-->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->




    <div class="text-center fw-semibold h2" style="margin-top:150px;margin-bottom:155px;">Welcome to our LifeCare </div>
    <div class="container shadow p-3">
        <div class="content-item">
            <div class="row">
                <div class="col">
                    <img src="~/Background/g1.jpg" class="img-thumbnail img-fluid w-100 my-lg-5 " alt="...">
                </div>
                <div class="col">
                    <div class="my-lg-5 text-center fw-semibold h2">Welcome to our LifeCare </div>

                    <p class="my-md-4 text-sm-start">Life Care – A portal system is a secure online website that gives patients convenient, 24-hour access to personal health information from anywhere with an Internet connection. Using a secure username and password, patients can view health information it also help facilitate virtual care by allowing patients to easily view their medical record and other personal health information as well as communicate securely with their physician—without the need for an in-person visit or telephone call.</p>
                </div>
            </div>

        </div>
    </div>


<hr class="container featurette-divider">

<div class="content-item">

    <div class="my-5 text-center fw-semibold h2">Services</div>
</div>

<div class="container">


    <!--CARD START-->
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-lg-5 mb-lg-5">
        <div class="col">
            <div class="card shadow-lg h-100">
                <img src="~/Background/laboratoryxpage3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Appointment</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow h-100">
                <img src="~/Background/diagnostic-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Consultation</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow h-100">
                <img src="~/Background/g4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Treatment</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
    <!--CARD TITLE END-->

    <hr class="featurette-divider">
    <div class="container shadow p-3">


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">About Us. <span class="text-muted">Who We Are?</span></h2>
                <p class="lead">A healthcare portal system is a secure online website that gives patients convenient, 24-hour access to personal health information from anywhere with an Internet connection. Using a secure username and password, patients can view health information it also help facilitate virtual care by allowing patients to easily view their medical record and other personal health information as well as communicate securely with their physician—without the need for an in-person visit or telephone call.</p>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="~/Background/bg-good-doc.jpg" class="card-img-top img-fluid" alt="...">
                </div>


            </div>
        </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
<!--this is an old template-->
<!--Banner starts here-->
<!--<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Background/bg-img4.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Background/741765.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Background/close-up-doctor-front-bright-background_53419-4416.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>




    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>-->
<!--Banner ends here-->
<!--<div class="container">

    <div class="content-item">
        <h1 class="mt-4 header">Services</h1>-->
<!--CARD START-->
<!--<div class="row row-cols-1 row-cols-md-3 g-4 mt-lg-5 mb-lg-5">
    <div class="col">
        <div class="card h-100">
            <img src="~/Background/laboratoryxpage3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laboratory Care</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Background/diagnostic-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diagnostic Care</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Background/meds-meds.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pharmaceutical Care</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>-->
<!--CARD TITLE END-->
<!--<p>
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like
        </p>

    </div>
</div>-->
